.marketplace-card__author {
    /* Add comma before authors that have a sibling */
    & ~ .marketplace-card__author {
        &::before {
            content: ", ";
        }
    }
}

.tags-wrapper {
    max-height: 56px;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        width: 2px;
    }
}

/* overwrite stupid spotify styling */
html {
    scrollbar-color: auto !important;
}