.marketplace-header {
    /*-webkit-box-pack: justify;
    -webkit-box-align: center;*/
    color: var(--spice-text);
    background-color: var(--spice-main);

    /* To position the settings button + colour schemes */
    position: sticky;

    /* Fix positioning on readme pages */
    .contentSpacing:has(#marketplace-readme) & {
        top: 0;
    }
}

.marketplace-grid {
    --minimumColumnWidth: 180px;
    --column-width: minmax(var(--minimumColumnWidth), 1fr);
    --column-count: auto-fill;
    --grid-gap: 24px;
}
